* {
  text-align: center;
  padding-bottom: 20px;
}

.product-card img {
  width: 100%;
}

.product-card h3 {
  margin: 20px 0 10px;
}

.product-card p {
  margin-bottom: 20px;
}

.cart-box,
.checkout-form {
  background: white;
  max-width: 700px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 12px;
}

.cart-item,
.cart-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkout-form input {
  padding: 15px;
  font-size: 16px;
}

footer {
  text-align: center;
  padding: 30px;
  background: #111;
  color: white;
  margin-top: 50px;
}
